flask
scikit-learn
joblib

#pip install -r requirements.txt

#python app.py

#http://localhost:5000

''' Test data examples
[
    {
        "StudyTimeWeekly": 20.5,
        "Absences": 2,
        "Tutoring": 1,
        "ParentalSupport": 3,
        "EngagementIndex": 4.2,
        "AttendanceRate": 98.5,
        "expected_gpa": 3.8
    },
    {
        "StudyTimeWeekly": 10.0,
        "Absences": 5,
        "Tutoring": 0,
        "ParentalSupport": 2,
        "EngagementIndex": 2.5,
        "AttendanceRate": 90.0,
        "expected_gpa": 2.9
    },
    {
        "StudyTimeWeekly": 5.0,
        "Absences": 15,
        "Tutoring": 0,
        "ParentalSupport": 1,
        "EngagementIndex": 1.0,
        "AttendanceRate": 80.0,
        "expected_gpa": 1.5
    },
    {
        "StudyTimeWeekly": 15.0,
        "Absences": 0,
        "Tutoring": 1,
        "ParentalSupport": 3,
        "EngagementIndex": 3.8,
        "AttendanceRate": 100.0,
        "expected_gpa": 3.6
    },
    {
        "StudyTimeWeekly": 8.0,
        "Absences": 8,
        "Tutoring": 1,
        "ParentalSupport": 2,
        "EngagementIndex": 2.0,
        "AttendanceRate": 85.0,
        "expected_gpa": 2.4
    }
]'''